body{
	display:grid;
}

.board{
	display:grid;
	justify-self:center;
	align-self:center;
	grid-template-columns:1fr 1fr 1fr;
	gap:1em;
	width:40vw;
	height:40vw;
	background-color:aqua;
}

.board > div{
	background-color:gainsboro;
	padding:3em;
}