body{
	display:grid;
}

#results_text {
	left:0;
	display:block;
	visibility: hidden;
}
	#results_text.appear {
		left: 400px;
		justify-self: center;
		visibility: visible;
		transition-property: all;
		transition-timing-function: ease-in;
		transition-duration: 10s;
	}



.board{
	display:grid;
	justify-self:center;
	align-self:center;
	grid-template-columns:1fr 1fr 1fr;
	gap:1em;
	width:40vw;
	height:40vw;
	background-color:aqua;
}

.board > div{
	background-color:gainsboro;
	padding:3em;
}