html{
	display:grid;
	grid-template-rows:25fr 50fr 25fr;
}
body{
	display:grid;
	grid-row:2/3;
	grid-template-rows:1fr 1fr;
}

#container{
	display:flex;
	align-items:center;
	flex-direction:column;
	grid-row:1/2;
}

#title_text{
	font-size:4vw;
	animation: levitate 6s ease-in-out infinite;
}

#container>ul{
	list-style-type:circle;
}

#mode_selection_text{
	margin-top:2vh;
}

#container li{
	margin-top:2vh;
	margin-bottom:2vh;
}

#container a{
	text-decoration:none;
	color:orange;
}

@keyframes levitate {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}